.left-content
  .left-content__header
    .left-content__header__box
      %p.left-content__header__box__user-name
        =current_user.name
      %ul.left-content__header__box__menu
        %li.left-content__header__box__menu__new-group
          =link_to new_group_path, class: "fa" do
            = fa_icon 'edit'
        %li.left-content__header__box__menu__edit-user
          =link_to edit_user_path(current_user), class: "fa" do
            = fa_icon 'cog'
  .left-content__group-content
    = render partial: 'messages/group-content'
    
  -# 左側コンテンツ
  