.contents
  .left-content
    .left-content__header
      %p seo
    .left-content__group-contents
      %p sample 
  .right-content
    .right-content__header
      %p sample
    .right-content__main
      %p seo
      %p Hello world!
    .right-content__footer
      %p send