.contents
  .left-content
    .left-content__header
      seo
    .side-content__group-contents
      sample 
  .right-content
    .right-content__header
      sample
    .right-content__main
      seo Hello world!
    .right-content__footer
      send