.contents
  .left-content
    .left-content__header
      %p seo
    .left-content__group-contents
      %p sample-grupe
      %p hello! 
  .right-content
    .right-content__header
      %p sample
      %p Members: seo neko
      %p Edit
    .right-content__main
      %p seo
      %p 2019/06/25 02:03:05
      %p Hello world!
      %p neko
      %p 2019/06/25 02:03:05
      %p good bye 
    .right-content__footer
      %p send