.contents
  .left-content
    .left-content__header
      .left-content__header__box
        %p.left-content__header__box__user-name
          =current_user.name
        %ul.left-content__header__box__menu
          %li.left-content__header__box__menu__new-group
            =link_to new_group_path, class: "fa" do
              = fa_icon 'edit'
          %li.left-content__header__box__menu__edit-user
            =link_to edit_user_path(current_user), class: "fa" do
              = fa_icon 'cog'
    .left-content__group-content
      = render partial: 'group-content'       
      
  -# 左側コンテンツ
  
  
  .right-content
    .right-content__header
      .right-content__header__groupe
        %p.right-content__header__groupe__name sample
        %p.right-content__header__groupe__members Members: 

      .right-content__header__edit_button
        
        =link_to 'Edit', edit_group_path(current_user) 
          
    .right-content__main
      .right-content__main__box
        %p.right-content__main__box__name seo
        %p.right-content__main__box__timestamp 2019/06/25(Wed) 02:03:05
      %p.right-content__main__message Hello world!
      .right-content__main__box
        %p.right-content__main__box__name neko
        %p.right-content__main__box__timestamp 2019/06/25(Wed) 02:03:05
      %p.right-content__main__message good bye


    .right-content__footer
      .right-content__footer__box
        %form.right-content__footer__box__new-message(action="")
        %input(type="hidden")/
        .right-content__footer__box__input
          %input.right-content__footer__box__input__text(placeholder="type a message")
          %label.right-content__footer__box__input__image(for="message_image")
            =link_to "", class: "fa" do
              = fa_icon 'image'

        %input.right-content__footer__box__submit-button(type="submit" value="Send")
        

  -# 右側コンテンツ 